@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #5b21b6;
  --input: #d9d9d9;
  --inputBorder: #bababa;
  --button: #7923ff;
  --tableHead: #fcfdfd;
  --tableHeadOutline: #d5d5d5;
  --tableBodyOutline: #b9b9b9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-inputBorder: var(--inputBorder);
  --color-button: var(--button);
  --color-tableHead: var(--tableHead);
  --color-tableHeadOutline: var(--tableHeadOutline);
  --color-tableBodyOutline: var(--tableBodyOutline);
}
